{{#if (equal status 'submitted')}}
  <div class="row">
    <div class="col-6">
      <a class="btn btn-outline-success form-control" href="/donations/{{id}}/approve">Approve</a>
    </div>
    <div class="col-6">
      <a class="btn btn-outline-danger form-control" href="/donations/{{id}}/reject">Reject</a>
    </div>
  </div>
{{else}}
  {{#if (equal status 'approved')}}
    <div class="row">
      <div class="col-6 offset-md-3">
        <a class="btn btn-outline-danger form-control" href="/donations/{{id}}/reject">Reject</a>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-6 offset-md-3">
        <a class="btn btn-outline-success form-control" href="/donations/{{id}}/approve">Approve</a>
      </div>
    </div>
  {{/if}}
{{/if}}
