<form id="donation_form" action={{action}} method={{method}} enctype="multipart/form-data">
  {{#if errors}}
    <div class="validation-errors">
      <ul class='error-list'>
        <p class="error-header">Your submission has {{errors.length}} error(s)!</p>
        {{#each errors as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="name">Donation Name*</label>
      <input type="text" name="name" class="form-control" required id="name" placeholder="Enter Name" value="{{donation.name}}">
    </div>
    <div class="form-group col-md-12">
      <label for="description">Description*</label>
      <textarea type="description" name="description" required class="form-control" id="description"
      placeholder="Enter donation description">{{donation.description}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity*</label>
    <input type="number" name="quantity" class="form-control" id="quantity" required value="{{donation.quantity}}" placeholder="Input number of items">
  </div>
  <div class="form-group">
    <label for="region">Region*</label>
    <input type="text" name="region" class="form-control" id="region" required value="{{donation.region}}" placeholder="Enter Region">
  </div>
  <div class="form-group">
    <label for="zipcode">Zipcode*</label>
    <input type="number" name="zipcode" class="form-control" id="zipcode" required value="{{donation.zipcode}}" placeholder="Input number of items">
  </div>
  <div class="file-field input-field">
    {{#if file}}
      <img class="img-responsive" src={{file}} width="400" height="400" />
    {{else}}
      {{#each donation.images as |image|}}
        <img src={{image}} width="30%" alt="{{donation.name}}">
      {{/each}}
    {{/if}}

    <div class="btn">
      <label for="images">Select Images</lable>
      <input type="file" id="images" name="images" multiple>
    </div>
  </div>

  {{#if edit}}
    <div class="form-group">
      <input type="text" name="method" id="method" value="patch" hidden>
    </div>
  {{/if}}

  <button type="submit" class="btn btn-outline-success form-control">
    {{#if edit }}
      Edit Donation
    {{else}}
      Create Donation
    {{/if}}
  </button>
</form>
