{{#if donations}}
  {{#each donations}}
    <div class="col">
      <div class="card bg-light mb-5 box-shadow">
        <a class="donation-card-link" href="/donations/{{_id}}">
          <div class="card-header text-center">
            {{name}}({{in_stock}})
          </div>
          <img class="card-img-top" src="{{returnFirst images}}" onerror="this.src='/public/images/no_preview.jpg'"
            alt={{name}}>
        </a>
        {{#if ../showApproveReject}}
          {{>approve-reject status=status id=_id}}
        {{/if}}
        <div class="card-body">
          {{#if ../showAddRemove}}
            {{>add_remove quantity=quantity items= ../items id=_id in_stock=in_stock}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="col">
    <p>NO DONATIONS FOUND!</p>
  </div>
{{/if}}