{{#if donations}}
  {{#each donations}}
    <div class="col">
      <div class="card bg-light mb-5 box-shadow">
        <a class="donation-card-link" href="/donations/{{_id}}">
          <div class="card-header text-center">
            {{name}}({{in_stock}})
          </div>
          <div class="images-carousel-listing" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
            {{#each images}}
              <img src="{{this}}" class="card-img-top card-image" onerror="this.src='/public/images/no_preview.jpg'" alt={{../name}}>
            {{else}}
              <img src='https://res.cloudinary.com/helpinghands101/image/upload/v1608081700/Images/no_preview_bw93bc.jpg'
                height="50" class="card-img-top card-image" onerror="this.src='/public/images/no_preview.jpg'" alt="{{../name}}">
            {{/each}}
          </div>
        </a>
        {{#if ../showApproveReject}}
          {{>approve-reject status=status id=_id}}
        {{/if}}
        <div class="card-body">
          {{#if ../showAddRemove}}
            {{>add_remove quantity=quantity items= ../items id=_id in_stock=in_stock}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="col">
    <p>NO DONATIONS FOUND!</p>
  </div>
{{/if}}
