<div id="donation">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-6">
        <h1>{{donation.name}}</h1>

        <div class="donation-details">
          <p>Quantity Available: {{donation.quantity}} </p>
          <p>Description: {{donation.description}}</p>
          <p>Region: {{donation.region}}</p>
          <p>Zipcode: {{donation.zipcode}}</p>
          <p>Donated On: {{donation.created_on}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="https://qvc.scene7.com/is/image/QVC/e/86/e353286.001?$aempdzoom$" height="50%" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
