<div id="donation">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <br>
        <h1>{{donation.name}}</h1>
        <br>
        <div class="donation-details">
          <p>Available Quantity: {{donation.quantity}} </p>
          <p>Description: {{donation.description}}</p>
          <p>Region: {{donation.region}}</p>
          <p>Zipcode: {{donation.zipcode}}</p>
          <p>Donated On: {{dateToString donation.createdAt}}</p>
          {{#if allowActions }}
            <a class="btn btn-success" href="/donations/{{donation._id}}/edit">Edit</a>
            <a class="btn btn-danger" href="/donations/{{donation._id}}/delete">Delete</a>
          {{/if}}
        </div>
      </div>
      <div class="col-md-4">
        {{#each donation.images as |image|}}
          <img src={{image}} width="100%" alt="{{donation.name}}">
        {{/each}}
        <a class="btn" href="/donations/{{donation._id}}/reject">Reject</a>
        <a class="btn" href="/donations/{{donation._id}}/approve">Approve</a>
      </div>
    </div>
  </div>
</div>
