<div id="donation">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <br>
        <h1>{{donation.name}}
          {{#if allowActions}}
            <span class="action-link">
              <a href="/donations/{{donation._id}}/edit">
                Edit
                <i class="fas fa-pencil-alt"></i>
              </a>
            </span>
            <span class="action-link">
              <a href="/donations/{{donation._id}}/delete">
                Delete
                <i class="fas fa-trash-alt"></i>
              </a>
            </span>
          {{/if}}
        </h1>
        <br>
        <div class="donation-details">
          <p>
            <br>
            <span class="small text-danger"> In Stock {{donation.in_stock}}</span>
            <br>
            <span class="font-italic">
              {{donation.description}}
            </span>
            <br>
            <span>
              Available At: {{donation.region}}, {{donation.zipcode}}
            </span>
            <br>
            <span>
              Donation On: {{dateToString donation.createdAt}}
            </span>
          </p>

          {{#if showAddRemove}}
            <div class="row">
              <div class="col-4">
                {{#if (donation_available donation.in_stock)}}
                  {{>add_remove items=item id=donation._id in_stock=donation.in_stock}}
                {{/if}}
              </div>
            </div>
          {{/if}}
          <br>
        </div>
        <br>
        {{#if (equal userRole 'admin')}}
          <a class="btn btn-outline-danger" href="/donations/{{donation._id}}/reject">Reject</a>
          <a class="btn btn-outline-success" href="/donations/{{donation._id}}/approve">Approve</a>
        {{/if}}
      </div>
      <div class="col-4">
        <div class="images-carousel" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
          {{#each donation.images as |image|}}
            <img src={{image}} height="50"
              onerror="this.src='https://res.cloudinary.com/helpinghands101/image/upload/v1608081700/Images/no_preview_bw93bc.jpg'"
              alt="{{../donation.name}}">
          {{else}}
            <img src='https://res.cloudinary.com/helpinghands101/image/upload/v1608081700/Images/no_preview_bw93bc.jpg'
              height="50" onerror="this.src='/public/images/no_preview.jpg'" alt="{{../donation.name}}">
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
